<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>535825486071-8reusu78qch1k1qmj2dlfo6c3okmajk0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.535825486071-8reusu78qch1k1qmj2dlfo6c3okmajk0</string>
	<key>API_KEY</key>
	<string>AIzaSyDUkD0JJU-gbExoGEg3abSd8z38eE8xzLY</string>
	<key>GCM_SENDER_ID</key>
	<string>535825486071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebase</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-5092a</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-5092a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:535825486071:ios:a5f4d43dc879aae48a43f2</string>
</dict>
</plist>